streamlit
langchain-community
langgraph
qdrant-client
sentence-transformers
groq
requests
torch 
torchvision
uuid
duckduckgo-search>=3.8.5
serpapi
typing-extensions
duckduckgo-search
transformers
beautifulsoup4
streamlit
qdrant-client
langchain-community
groq
duckduckgo-search
transformers
torch
langgraph
