streamlit==1.42.0
langgraph==0.2.71
qdrant-client==1.13.2
langchain-community==0.3.17
groq==0.18.0
duckduckgo-search==7.3.2
transformers==4.48.3
typing_extensions==4.12.2
sentence-transformers==3.0.1
torch==2.3.0
